<% if (currentUser) { %>
<% if (currentUser.isMember) { %>
<p>You're already in the Members club!</p>
<% } else { %>
<p>You can join the Members club by entering the secret passcode.</p>
<form class="form" method="POST">
  <div class="form-group">
    <label for="passcode">Passcode:</label>
    <input id="passcode" name="passcode" type="password" placeholder="Hint: joinclubnow" required="true">
  </div>
  <button class="submit-button" type="submit"><%= title %></button>
</form>
<%- include('../errors', { errors }) %>
<% } %>
<% } else { %>
<%- include('../not-logged-in') %>
<% } %>